<% content_for :javascript do %>load_from_eid_link
  <script type="text/javascript" src="/eid/be_belgium_eid.js"></script>
  <script type="text/javascript" language="javascript">

  var cardReader = new be.belgium.eid.CardReader();

  function noCardPresentHandler() {
    window.alert("No card present!");
  }
  cardReader.setNoCardPresentHandler(noCardPresentHandler);

  function noReaderDetectedHandler() {
    window.alert("No reader detected!");
  }
  cardReader.setNoReaderDetectedHandler(noReaderDetectedHandler);

  function appletNotFoundHandler() {
    window.alert("Applet not found!");
  }
  cardReader.setAppletNotFoundHandler(appletNotFoundHandler);

  function appletExceptionHandler(e) {
    window.alert("Error reading card!\r\nException: " + e + "\r\nPlease try again.");
  }
  cardReader.setAppletExceptionHandler(appletExceptionHandler);

  function readCard() {
    //document.getElementById("content").value = "Please wait ...";
    var card = cardReader.read();
    if (card != null) {
      //document.getElementById("content").value = card.toString();
      fillFormFromEid(card);
    } else {
      //document.getElementById("content").value = "No card returned.";
    }
  }

  </script>
  
<% end # end of content_for :javascript %>

<% #from eid/exemple.html %>
<script type="text/javascript" language="javascript">
  
  var appletStarted = false;
  var appletActive = false;
  
  function loadFromEidReader() {
      if (!appletStarted) {
        appletStarted = true;
        buildEidApplet();
        loadFromEidReader();
      } else {
        if (!appletActive) {
          new PeriodicalExecuter(function(pe){
            isAppletActive();
            if (appletActive) { pe.stop(); loadFromEidReader(); }
          }, 5);
          
        } else {
          readCard();
        }
      }
  }
  
  function buildEidApplet() {
    
    //----------------
    // give the following variables:
    // subdir: the subdirectory where the applet jar file resides
    // jnlpPath: the path to the jnlp file
    // ex: subdir="appletDir";
    //     jnlpPath=subdir;
    //----------------
    var subdir="";
    var jnlpPath=subdir;
    
    //----------------
    // - get the href of this page
    // - strip off the name of this page
    //----------------
    var myloc    = window.location.href;
    var locarray = myloc.split("/");
    delete locarray[(locarray.length-1)];
    var url = 'http://localhost:3000' + '/eid/'; //locarray.join("/");
    
    Element.insert($('appletWrapper'), '<applet code="org.jdesktop.applet.util.JNLPAppletLauncher"'
    + ' codebase = "' + url + subdir + '"'
    + ' width  ="0"'
    + ' height ="0"'
    + ' name   = "BEIDAppletLauncher"'
    + ' id   = "BEIDAppletLauncher"'
    + ' archive="applet-launcher.jar,beid35libJava.jar,BEID_Applet.jar">'
    + 
    + '<param name="codebase_lookup" value="false">'
    + '<param name="subapplet.classname" value="be.belgium.beid.BEID_Applet">'
    + '<param name="progressbar" value="true">'
    + '<param name="jnlpNumExtensions" value="1">'
    + '<param name="jnlpExtension1" value= "' + url + jnlpPath + 'beid.jnlp">'
    + '<param name="debug" value="false"/>'
    + '<param name="Reader" value=""/>'
    + '<param name="OCSP" value="-1"/>'
    + '<param name="CRL" value="-1"/>'
    + '<param name="jnlp_href" value="' + url + jnlpPath + 'beid_java_plugin.jnlp" />'
    + '</applet>');
  }
  
  function isAppletActive(){
    var applet = $('BEIDAppletLauncher');
    if ( applet != undefined) {
      appletActive = applet.isActive();
    }
  }
  
</script>
<div class="block">
  <div id="appletWrapper"></div>
  <button type="button" class="button" onclick="javascript:loadFromEidReader()">
    <img src="/images/web-app-theme/icons/folder_user.png?1290505725" alt="Login">
    Charger depuis la carte d'identitee
  </button>
</div>
