%tr
  %td= category_row.name
  %td.right= link_to (image_tag("web-app-theme/icons/cross.png", :alt => t('assur.general.delete'))), category_row, :confirm => t('assur.general.are_you_sure'), :method => :delete, :remote => true